/* Phone */
@media only screen and (max-width: 675px) {
	/* Hamburger */
	.hamburger-icon {
		display: block;
	}

	#navbar-items {
		display: none;
		position: absolute;
		width: 30%;
		background-color: var(--secondary-color);
		padding: 10px;
		border-radius: 25px;
		text-align: center;
		z-index: 10;
		right: 0;
		margin-top: 360px;
	}

	#navbar-items ul a {
		font-size: 15px;
	}

	#navbar-items ul {
		display: block;
	}

	#navbar-items li {
		margin: 15px 0;
		padding: 5px;
	}

	#hamburger-menu:checked + #navbar-items {
		display: block;
	}

	.navbar img {
		width: 100px;
	}
	/*Homepage */

	.homepage-first img {
		width: 100%;
	}

	.homepage-first h1 {
		font-size: 15px;
		padding: 5px;
	}

	.paragraph-container {
		gap: 5px;
	}

	.column-paragraph-home {
		max-width: 175px;
		font-size: 10px;
	}

	.rainydays-main-button {
		padding: 5px 10px;
		font-size: 9px;
	}

	.recommendations-section {
		margin: 20px auto;
		font-size: 11px;
	}

	.recommendations-section img {
		width: 75px;
	}

	.adventure-section-header h2 {
		font-size: 16px;
	}

	.adventure-section {
		gap: 10px;
		max-width: 350px;
		margin: 0 auto;
	}

	.discover-button {
		margin-bottom: 50px;
	}

	/* Footer */
	.footer-logo {
		margin-left: 40px;
		width: 100px;
	}

	.footer i {
		font-size: 14px;
	}

	.footer-columns {
		flex-direction: column;
		margin-left: 50px;
	}

	.footer-columns h3 {
		font-size: 8px;
	}

	.footer-columns p {
		font-size: 7px;
	}

	/* About */
	.about-homepage img {
		width: 100%;
	}

	.about-text {
		bottom: 25px;
		right: 25px;
		font-size: 12px;
	}

	.about-heading {
		font-size: 15px;
	}

	.about-columns {
		margin-top: 5px;
		max-width: 400px;
		font-size: 12px;
		margin-bottom: 20px;
	}

	.last-column {
		margin-bottom: 25px;
	}

	/* Products */
	.product-heading {
		font-size: 18px;
	}

	.product-container {
		max-width: 300px;
		margin-bottom: 20px;
	}

	.product-item {
		margin: 10px;
		padding: 10px;
	}

	.product-image {
		width: 75px;
		margin-right: 25px;
	}

	/* Checkout */
	.checkout-heading {
		font-size: 18px;
	}

	.checkout-empty-container {
		margin-bottom: 175px;
	}

	.checkout-empty-container p {
		font-size: 11px;
	}

	/* Contact */
	.contact-heading {
		font-size: 18px;
	}

	.main-contact-container {
		max-width: 250px;
	}

	.main-contact-container label {
		margin: 0;
		font-size: 12px;
	}

	.contact-form {
		gap: 10px;
	}

	textarea {
		height: 100px;
	}

	.contact-info-container {
		gap: 20px;
		max-width: 300px;
		font-size: 60%;
	}

	.main-contact-container input[type="text"],
	.main-contact-container input[type="email"],
	.main-contact-container textarea {
		padding: 5px;
		font-size: 12px;
	}

	/* Contact Success */
	.contact-success-heading {
		font-size: 18px;
	}

	.success-message-container {
		max-width: 300px;
	}

	.success-message-container p {
		font-size: 0.8rem;
		line-height: 1.6;
		margin-bottom: 25px;
	}

	/* Product info details */
	.product-info-card {
		max-width: 400px;
		margin-bottom: 25px;
	}

	.product-info-card img {
		width: 100px;
	}

	.product-info-text h2 {
		font-size: 18px;
	}

	.product-info-text p {
		font-size: 0.5rem;
		line-height: 1.4;
	}

	.product-info-text label {
		font-size: 0.5rem;
	}

	.product-info-text p.price-product {
		font-size: 0.8rem;
	}

	/* Cart products added */
	.cart-item {
		max-width: 300px;
	}

	.cart-item h1 {
		font-size: 18px;
		margin-top: 0;
		padding-top: 0;
	}

	.cart-item h2 {
		font-size: 15px;
	}

	.cart-item p {
		font-size: 10px;
	}

	.cart-item img {
		width: 100px;
		margin-top: -225px;
	}

	.cart-item p.price-product {
		font-size: 0.7rem;
	}

	.cart-button-container {
		margin-top: 125px;
	}

	.total-price {
		font-size: 1.5rem;
		margin-bottom: 25px;
	}

	/* Buy now page */
	.checkout-container {
		max-width: 400px;
	}

	.details-container {
		flex-direction: column;
	}

	.details-container h2 {
		font-size: 18px;
	}

	.payment-details h2 {
		font-size: 18px;
	}

	.payment-details p {
		font-size: 15px;
	}

	.details-container label {
		font-size: 12px;
	}

	.checkout-container h1 {
		font-size: 18px;
		padding: 0;
		margin: 10px;
	}

	.checkout-container input[type="text"],
	.checkout-container input[type="number"] {
		width: 90%;
		padding: 10px;
		font-size: 0.6rem;
	}

	.checkout-container .price-product,
	.checkout-container .total-price {
		font-size: 0.7rem;
	}

	.total-container {
		margin-top: 25px;
	}

	.icon-payment {
		margin-bottom: 10px;
		gap: 10px;
	}

	.btn {
		width: 95%;
		margin-bottom: 50px;
	}

	.product-checkout-cart p {
		text-align: center;
		padding: 10px;
	}

	/* Payment Successfull */
	.payment-success-container {
		max-width: 300px;
	}

	.payment-success-container h1 {
		font-size: 18px;
	}

	.payment-success-container p {
		font-size: 12px;
		line-height: 1.7;
		margin-bottom: 25px;
	}

	.payment-success-container {
		margin-bottom: 25px;
	}
}
