@import url(reset.css);
@import url(styles.css);
/* Products */
.product-heading {
	text-align: center;
	font-size: 30px;
	padding: 15px;
}

.product-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 800px;
	margin: auto;
	margin-bottom: 75px;
}

.product-item {
	display: flex;
	background: #fff;
	margin: 15px;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0, 1);
	width: 100%;
	border-top: 2px solid var(--main-color);
}

.product-image {
	width: 200px;
	height: auto;
	margin-right: 15px;
	border-radius: 4px;
}

.product-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.product-title {
	font-size: 18px;
	margin-bottom: 8px;
}

.product-description {
	font-size: 14px;
	margin-bottom: 8px;
}

.product-price {
	font-size: 16px;
	font-weight: bold;
	color: var(--main-color);
}

.product-container a {
	text-decoration: none;
	color: #000;
}

/* Product info details */
.product-info-card {
	max-width: 800px;
	margin: 20px auto;
	margin-bottom: 75px;
	padding: 20;
}

.product-info-content {
	display: flex;
	align-items: center;
}

.product-info-card img {
	width: 250px;
	height: auto;
	margin-right: 20px;
}

.product-info-text {
	flex-grow: 1;
}

.product-info-text h2 {
	text-align: center;
	font-size: 30px;
	padding: 15px;
}

.product-info-text p {
	font-size: 1rem;
	line-height: 1.5;
	margin: 10px 0;
}

.product-info-text input[type="radio"] {
	margin: 10px 5px;
}

.product-info-text label {
	margin-right: 10px;
	font-size: 1rem;
}

.product-info-text p.price-product {
	font-size: 1.5rem;
	margin: 10px 0;
}

/* Cart products added */
.cart-item {
	max-width: 600px;
	margin: 100px auto;
	padding: 20px;
	background-color: #c2c2c2;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.product-cart-explorer div {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.cart-item h1 {
	text-align: left;
	color: #333;
	font-size: 24px;
	margin-bottom: 15px;
}

.cart-item h2 {
	font-size: 1.5rem;
	color: #333;
	margin: 5px 0;
}

.cart-item p {
	font-size: 1rem;
	color: #555;
	margin: 5px 0;
}

.cart-item img {
	width: 140px;
	margin-right: 50px;
	border-radius: 8px;
}

.cart-item p.price-product,
.cart-item p.size {
	font-size: 1.2rem;
	color: #555;
	margin: 8px 0;
}

#checkout-button-cart {
	background-color: var(--main-color);
	font-size: 0.9rem;
	padding: 8px 20px;
	border-radius: 6px;
	transition: background-color 0.3s ease;
}

#checkout-button-cart:hover {
	background-color: var(--secondary-color);
}

#remove-item-button {
	background-color: #ff5252;
	font-size: 0.9rem;
	padding: 8px 19px;
	border-radius: 6px;
	transition: background-color 0.3s ease;
}

#remove-item-button:hover {
	background-color: #ff7a7a;
}

.cart-button-container {
	gap: 5px;
}

.total-price {
	font-size: 1.3rem;
	color: #333;
	font-weight: bold;
	text-align: left;
	margin-top: 20px;
	padding: 6px 16px;
	background-color: #e9e9e9;
	border-radius: 8px;
	align-self: flex-end;
}

/* Buy now page */
.checkout-container {
	max-width: 1000px;
	margin: 20px auto;
	padding: 20px;
}

.details-container {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.checkout-container h1 {
	text-align: center;
	font-size: 30px;
	padding: 15px;
}

.checkout-container input[type="text"],
.checkout-container input[type="number"] {
	width: 90%;
	padding: 7px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 15px;
	font-size: 1rem;
}

.delivery-details,
.payment-details,
.cart-summary {
	flex: 1;
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 8px;
	background-color: #f9f9f9;
}

.delivery-details label {
	display: flex;
	gap: 8px;
	align-items: center;
}

.payment-details label {
	display: flex;
	gap: 8px;
	align-items: flex-start;
}

.checkout-container .price-product,
.checkout-container .total-price {
	font-size: 1.5rem;
}

.total-container {
	text-align: center;
	margin-top: 200px;
}

.icon-payment {
	margin-bottom: 15px;
	display: flex;
	justify-content: left;
	gap: 20px;
}

.btn {
	display: block;
	width: 100%;
	padding: 12px;
	margin-bottom: 75px;
}

.product-checkout-cart {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #9a9a9a;
	border-radius: 8px;
}

.product-checkout-cart p {
	text-align: center;
	padding: 10px;
}

.product-checkout-cart img {
	width: 75px;
	height: auto;
	max-width: 100%;
	margin: 10px 0;
	border-radius: 15px;
}

/* Payment Successfull */
.payment-success-container {
	max-width: 600px;
	margin: 50px auto;
	padding: 20px;
}

.payment-success-container h1 {
	text-align: center;
	font-size: 30px;
	padding: 15px;
}

.payment-success-container p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 94px;
}

/* Checkout */
.checkout-heading {
	text-align: center;
	font-size: 30px;
	padding: 15px;
}

.checkout-empty-container {
	text-align: center;
	margin-bottom: 430px;
}
