@import url(homepage.css);
@import url(nav-footer.css);
@import url(phonesize.css);
@import url(products.css);
@import url(reset.css);
@import url(tabletsize.css);

/* Global */
:root {
	--main-color: #3D5C61;
	--secondary-color: #5a8691;
	height: 100vh;
}

main {
	font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

body {
	margin: 0px;
	overflow-x: hidden;
}

.rainydays-main-button {
	background-color: var(--main-color);
	color: #fff;
	text-align: center;
	text-decoration: none;
	padding: 10px 25px;
	border-radius: 25px;
	font-size: 25px;
}
