/* Global */
:root {
	--main-color: #0a3641;
	--secondary-color: #5a8691;
	--text-color: #f2f2f2;
	--font-size-base: 14px;
	--font-size-heading: 30px;
	height: 100vh;
}

body {
	margin: 0px;
	overflow-x: hidden;
	font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
	font-size: var(--font-size-heading);
}

.rainydays-main-button {
	background-color: var(--main-color);
	color: var(--text-color);
	text-align: center;
	text-decoration: none;
	padding: 10px 25px;
	border-radius: 25px;
	font-size: 25px;
}

/* Navbar */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--secondary-color);
	padding: 20px;
}

.navbar img {
	width: 250px;
	height: auto;
	margin-left: 50px;
}

#navbar-items ul {
	list-style-type: none;
	display: flex;
	gap: 40px;
	padding: 0;
	margin: 0;
}

#navbar-items ul a {
	color: var(--text-color);
	text-decoration: none;
	font-size: 23px;
	padding: 10px 15px;
	transition-property: background;
	transition-duration: 1.25s;
	border-radius: 25px;
}

#navbar-items ul a:hover {
	background-color: var(--main-color);
	border-radius: 25px;
}

#navbar-items a.active-navbarbutton {
	background-color: var(--main-color);
}

#hamburger-menu {
	display: none;
}

.hamburger-icon {
	display: none;
	font-size: 24px;
	color: var(--text-color);
	cursor: pointer;
}

/* Homepage */
.homepage-first img {
	width: 900px;
	display: block;
	margin: auto;
}

.homepage-first h1 {
	text-align: center;
	padding: 15px;
}

.paragraph-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.column-paragraph-home {
	flex: 1 1 45%;
	max-width: 440px;
	margin: 0;
	padding: 10px;
}

.button-container1 {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.recommendations-section {
	text-align: center;
	margin: 100px auto;
}

.recommendations-section img {
	width: 200px;
	height: auto;
	margin: 0 20px;
	display: inline-block;
}

.adventure-section-header h2 {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.adventure-section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
	max-width: 800px;
	margin: 0 auto;
}

.adventure-section img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 10px;
}

.discover-button {
	margin-bottom: 75px;
}

/* About */
.about-homepage img {
	width: 900px;
	margin: auto;
	display: block;
}

.about-image {
	position: relative;
	text-align: center;
	display: block;
	margin: 0 auto;
	max-width: 900px;
}

.about-text {
	position: absolute;
	bottom: 25px;
	right: 25px;
	color: var(--text-color);
	font-size: var(--font-size-heading);
	margin: 0;
	max-width: 180px;
	line-height: 1.3;
	word-wrap: break-word;
}

.about-heading {
	text-align: center;
	margin: 20px 0;
}

.about-columns {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.about-column {
	flex: 1;
	margin-right: 10px;
	max-width: 400px;
}

.last-column {
	margin-bottom: 75px;
}

.about-delay {
	animation: show-about 1s forwards;
	opacity: 0;
}

@keyframes show-about {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

/* Products */
.product-heading {
	text-align: center;
	font-size: var(--font-size-heading);
	padding: 15px;
}

.product-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 800px;
	margin: auto;
	margin-bottom: 75px;
}

.product-item {
	display: flex;
	background: var(--text-color);
	margin: 15px;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0, 1);
	width: 100%;
	border-top: 2px solid var(--main-color);
}

.product-image {
	width: 200px;
	height: auto;
	margin-right: 15px;
	border-radius: 4px;
}

.product-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.product-title {
	font-size: 18px;
	margin-bottom: 8px;
}

.product-description {
	font-size: var(--font-size-base);
	margin-bottom: 8px;
}

.product-price {
	font-size: var(--font-size-base);
	font-weight: bold;
	color: var(--main-color);
}

.product-container a {
	text-decoration: none;
	color: #000;
}

/* Product info details */
.product-info-card {
	max-width: 800px;
	margin: 20px auto;
	margin-bottom: 75px;
	padding: 20;
}

.product-info-content {
	display: flex;
	align-items: center;
}

.product-info-card img {
	width: 250px;
	height: auto;
	margin-right: 20px;
}

.product-info-text {
	flex-grow: 1;
}

.product-info-text h2 {
	text-align: center;
	font-size: var(--font-size-heading);
	padding: 15px;
}

.product-info-text p {
	font-size: var(--font-size-base);
	line-height: 1.5;
	margin: 10px 0;
}

.product-info-text input[type="radio"] {
	margin: 10px 5px;
}

.product-info-text label {
	margin-right: 10px;
	font-size: 1rem;
}

.product-info-text p.price-product {
	font-size: var(--font-size-base);
	margin: 10px 0;
}

/* Cart products added */
.cart-item {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
}

.cart-item h1 {
	text-align: center;
	padding: 15px;
}

.cart-item img {
	width: 150px;
	height: auto;
	margin-right: 20px;
	margin-top: -200px;
}

.cart-item p.price-product {
	font-size: var(--font-size-base);
	margin: 10px 0;
}

.cart-button-container {
	display: flex;
	gap: 10px;
	margin-top: 125px;
}

#remove-item-button {
	background-color: rgb(255, 121, 121);
}

.total-price {
	font-size: var(--font-size-base);
	color: #333;
	font-weight: bold;
	margin-top: 15px;
	text-align: center;
	margin-bottom: 75px;
}

/* Buy now page */
.checkout-container {
	max-width: 1000px;
	margin: 20px auto;
	padding: 20px;
}

.details-container {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.checkout-container h1 {
	text-align: center;
	padding: 15px;
}

.checkout-container input[type="text"],
.checkout-container input[type="number"] {
	width: 90%;
	padding: 7px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 15px;
	font-size: var(--font-size-base);
}

.delivery-details,
.payment-details,
.cart-summary {
	flex: 1;
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 8px;
	background-color: var(--text-color);
}

.checkout-container .price-product,
.checkout-container .total-price {
	font-size: var(--font-size-base);
}

.total-container {
	text-align: center;
	margin-top: 200px;
}

.icon-payment {
	margin-bottom: 15px;
	display: flex;
	justify-content: left;
	gap: 20px;
}

.btn {
	display: block;
	width: 100%;
	padding: 12px;
	margin-bottom: 75px;
}

.product-checkout-cart {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #9a9a9a;
	border-radius: 8px;
}

.product-checkout-cart p {
	text-align: center;
	padding: 10px;
}

.product-checkout-cart img {
	width: 75px;
	height: auto;
	max-width: 100%;
	margin: 10px 0;
	border-radius: 15px;
}

/* Payment Successfull */
.payment-success-container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
}

.payment-success-container h1 {
	text-align: center;
	padding: 15px;
}

.payment-success-container p {
	font-size: var(--font-size-base);
	line-height: 1.5;
	margin-bottom: 94px;
}

/* Checkout */
.checkout-heading {
	text-align: center;
	font-size: var(--font-size-heading);
	padding: 15px;
}

.checkout-empty-container {
	text-align: center;
	margin-bottom: 362px;
}

/* Contact */
.contact-heading {
	text-align: center;
	font-size: var(--font-size-heading);
	padding: 15px;
}

.main-contact-container {
	max-width: 500px;
	width: 100%;
	margin: 0 auto 20px auto;
	padding: 20px;
	border-radius: 8px;
	background-color: var(--text-color);
}

.contact-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.main-contact-container label {
	font-weight: bold;
	margin-bottom: 5px;
}

.main-contact-container input[type="text"],
.main-contact-container input[type="email"],
.main-contact-container textarea {
	width: 100%;
	max-width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: var(--font-size-base);
	font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

input[type="submit"] {
	border: none;
	cursor: pointer;
}

textarea {
	height: 150px;
	resize: none;
}

.contact-info-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: 100%;
	max-width: 600px;
	margin: 20px auto;
	text-align: center;
}

/* Contact Success */
.contact-success-heading {
	text-align: center;
	font-size: var(--font-size-heading);
	padding: 18px;
}

.success-message-container {
	max-width: 600px;
	margin: 20px auto;
	padding: 15px;
	border-radius: 8px;
}

.success-message-container p {
	font-size: var(--font-size-base);
	line-height: 1.5;
	margin-bottom: 35px;
}

/* Footer */
.footer {
	background-color: var(--secondary-color);
	color: var(--text-color);
	padding: 20px;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 250px;
}

.footer-logo {
	margin-left: 50px;
	width: 200px;
	height: auto;
}

.footer-columns {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-left: 100px;
}

.footer-column {
	flex: 1;
	padding: 0 20px;
}

.footer-column h3 {
	margin-bottom: 10px;
}

.footer-column p,
.footer-column i {
	margin-bottom: 10px;
}

.footer i {
	color: var(--main-color);
	margin-right: 10px;
	font-size: 48px;
}

.footer i:hover {
	color: var(--text-color);
}
